<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${student.getFirstName}+ ' ' + ${student.getLastName}" >Title</title>
</head>
<style>
    body{
        max-width: 400px;
        margin: auto;
    }
</style>
<body>
<table>
    <tr>
        <th>Date</th>
        <th>Subject</th>
        <th>Grade</th>
    </tr>
    <tr th:each="grade : ${student.grades}" >
        <th th:text="${grade.getAssignedDate}"></th>
        <th th:text="${grade.getSubject}"></th>
        <th th:text="${grade.grade}"></th>
    </tr>
</table>
<div></div>
<div></div>
<div></div>
<h1>New record</h1>
<form action="#" th:action="@{/students}">
    <input type="text" name="studentId" hidden th:value="${student.id}">
    <label class="subject">Subject: </label>
    <select class="subject" name="subject">
        <option th:value="D">D</option>
        <option th:value="E">E</option>
        <option th:value="POS">POS</option>
        <option th:value="NVS">NVS</option>
        <option th:value="AM">AM</option>
    </select>
    <br>
    <label class="radio">Grade: </label>
    <label>1 </label>
    <input type="radio" name="radio" checked value=1>
    <label>2 </label>
    <input type="radio" name="radio" value=2>
    <label>3 </label>
    <input type="radio" name="radio" value=3>
    <label>4 </label>
    <input type="radio" name="radio" value=4>
    <label>5 </label>
    <input type="radio" name="radio" value=5>
    <br>
    <input type="date" name="date">
    <br>
    <input type="submit" value="SAVE">
</form>
</body>
</html>